body {
    background-image: url(https://img.freepik.com/premium-photo/scattered-pile-twitter-icons-background_125322-7.jpg?w=2000);
  }
  
  .logincontainer {
    margin: 6rem auto;
    background-color: grey;
    padding: 16px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  .logincontainer button {
    background-color: #036db4;
  }

h6{
  color: white;
}
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    background-color: #f2f2f2;
    border: 1px solid #dedede;
  }
  
  @media screen and (max-width: 570px) {
    .logincontainer {
      width: 85%;
    }
  }
